<ion-view view-title="Acerca">
	<ion-content scroll="false" class="acerca">
        
            <div class="box-acerca">
                <div class="box-acerca-img">    
                    <img class="acerca-img" src="img/tulocalidad-acerca.png">
                </div>
                <diV class="box-acerca-text">
                    <p>Versión 0.0.2</p>
                    <p>©2015 Key Systems</p>
                </diV>
            </div>
            <!--
            <div class="row redes-sociales">
                <div class="col">
                    <button type="" class="button button-clear button-redes" browse-to="https://facebook.com/KeySystems.ca">
                        <img class="img-size-redes" src="img/redes/face.jpg">
                    </button>
                </div>
                <div class="col">
                    <button type="" class="button button-clear button-redes" browse-to="https://twitter.com/keysystemsca">
                        <img class="img-size-redes" src="img/redes/twitter.jpg">
                    </button>
                </div>
                <div class="col">
                    <button type="" class="button button-clear button-redes" browse-to="http://keysystems.com.ve/">
                        <img class="img-size-redes" src="img/redes/key.png">                 
                    </button>
                </div>
                <div class="col">
                    <button type="" class="button button-clear button-redes" browse-to="https://instagram.com/keysystemsca/">
                        <img class="img-size-redes" src="img/redes/istagram.jpg">
                    </button>
                </div>
                <div class="col">
                    <button type="" class="button button-clear button-redes" browse-to="https://www.youtube.com/user/KeySystemsCa">
                        <img class="img-size-redes" src="img/redes/youtube.jpg">
                    </button>
                </div> 
            </div>-->
        
    </ion-content>
</ion-view>