<ion-view view-title="Categoría {{ estado }}">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-search placeholder-icon" menu-toggle="riht" ng-click="searchcategoria()">
        </button> 
    </ion-nav-buttons>
	<ion-content>  
        <label class="item item-input" ng-show="isVisible">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" ng-model="query.search" placeholder="Search">
        </label>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="categoria in categorias | filter:query.search" type="item-text-wrap" href="#/empresas/{{categoria.id}}">
                <img ng-src="{{categoria.icon}}">
                <h2 style="margin-top: 10px">{{ categoria.categoria }}</h2>
                <p  ng-if="categoria.empresa == null">
                	Sin empresas asociadas.
                </p>                
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
	</ion-content>
</ion-view>
