<ion-view view-title="Configuración">
	<ion-content>
         <div class="bar-side-menu">
            <img class="icon-side-menu" src="img/conf.png">
        </div>
        <ion-list>

        <a class="item item-icon-left" href="#" ng-click="openModal()">
            <i class="icon ion-android-pin icon-side-menu"></i>
            Estados
        </a>

        <a class="item item-icon-left" href="#/tab/acerca">
            <i class="icon ion-alert icon-side-menu"></i>
            Acerca de
        </a>

        <a class="item item-icon-left" menu-close href="tel:+584142667519">
            <i class="icon ion-ios-telephone icon-side-menu"></i>
            Contáctanos
        </a>

        <!--<a class="item item-icon-left" menu-close>
            <i class="icon ion-thumbsup icon-side-menu"></i>
            Recomendar
        </a>-->

        <div class="top-header">
        </div>
        <a class="item item-key-systems" href="#" browse-to="https://play.google.com/store/apps/details?id=com.ionicframework.keysystems549574">
            Desarrollado
            <img class="icon-key-side-menu" src="img/keysystems-logo.png">
        </a>
        
        <div class="redes-sociales-icon">
            <div class="row">
                <div class="col">
                    <button type="" class="button button-clear button-redes" browse-to="https://facebook.com/KeySystems.ca"><i class="icon ion-social-facebook"></i></button>
                </div>
                <div class="col">
                    <button type="" class="button button-clear button-redes" browse-to="https://twitter.com/keysystemsca"><i class="icon ion-social-twitter"></i></button>
                </div>
                <div class="col">
                    <button type="" class="button button-clear button-redes" browse-to="https://www.youtube.com/user/KeySystemsCa"><i class="icon ion-social-youtube"></i></button>
                </div> 
                <div class="col">
                    <button type="" class="button button-clear button-redes" browse-to="https://instagram.com/keysystemsca/"><i class="icon ion-social-instagram"></i></button>
                </div>
            </div>               
        </div>
    
        <div class="item-fin">
        </div>

    </ion-content>
</ion-view>