<ion-view view-title="Empresa {{ empresa[0].nombre_empresa }}">
	<ion-content>
		<div class="list card card-custom">

		  	<div class="item item-avatar">
		    	<img src="img/tulocalidad.png">
		    	<h2>{{ empresa[0].nombre_empresa }}</h2>
		    	<p ng-if="empresa[0].rif_empresa != ''">Rif: {{ empresa[0].rif_empresa }}</p>
		  	</div>
		  	<div class="map">
		    	<google-map
					center="centerProperty"
					zoom="zoomProperty" 
					markers="markersProperty"
					latitude="clickedLatitudeProperty"
					longitude="clickedLongitudeProperty"
					mark-click="true"
					draggable="true"
					style="height: 300px; width: 100%">
				</google-map>
			</div>
		  	
		</div>
		<div class="item item-body" ng-if="empresa[0].direccion_empresa != ''">
     		<p style="margin-top: -5px;">
		      	Dirección: {{ empresa[0].direccion_empresa }}
		    </p>
  		</div>

	  	<div class="item" ng-if="empresa[0].url_empresa != ''">  
		    <a class="text-none" href="#" browse-to="{{ empresa[0].url_empresa }}">
			    <p>
			    	<i class="icon ion-earth icon-custom"></i>
		      		{{ empresa[0].url_empresa }}
			    </p>
		    </a>    
	  	</div>

	  	<div class="item" ng-if="empresa[0].correo_empresa != ''">  
		    <a class="text-none" ng-href="mailto:{{ empresa[0].correo_empresa }}">
			    <p>
			    	<i class="icon ion-email icon-custom"></i>
		      		{{ empresa[0].correo_empresa }}
			    </p>
			</a>		    
	  	</div>
	  	<div class="item" ng-if="empresa[0].telefono_empresa != ''">  
		    <a class="text-none" ng-href="tel:{{ '+58 ' + empresa[0].telefono_empresa }}">
			    <p>
			    	<i class="icon ion-ios7-telephone icon-custom"></i>
		      		Local: {{ empresa[0].telefono_empresa }}
			    </p>
		    </a>		    
	  	</div>
	  	<div class="item" ng-if="empresa[0].telefono_movil_empresa != ''">  
		    <a class="text-none" ng-href="tel:{{ '+58 ' + empresa[0].telefono_movil_empresa }}">
			    <p>
			    	<i class="icon ion-ios7-telephone icon-custom"></i>
		      		Movil: {{ empresa[0].telefono_movil_empresa }}
			    </p>
		    </a>		    
	  	</div>	
	</ion-content>
</ion-view>