<ion-view view-title="Empresas">
	<ion-content>
        <div class="list">
        	
        	<div class="item">
        		<li  class="list-empresa">
        			<ul>
        				<i class="ion-home"></i> Empresa
        				<p class="padding">Direccion direccion del establecimiento</p>
        			</ul>
        			<ul>
        				<i class="ion-ios7-telephone"></i> Telefono 
        				<p class="padding">(0212) 392 98 52</p>
        			</ul>
        		</li>

  			</div>

		</div>
	</ion-content>
</ion-view>