<ion-view view-title="Empresas">
	<ion-content>
		<div class="list">
			<div class="box-list-empresa">
				<div class="row">
					<div class="col list-empresa">
						<i class="ion-home"></i> Empresa
        				<p class="padding">Direccion direccion del establecimiento</p>
        			</div>
				</div>
				<div class="row">
					<div class="col col-90 list-empresa">
						<i class="ion-ios7-telephone"></i> Telefono 
        				<p class="padding">(0212) 392 98 52</p>
					</div>
  					<div class="col local"><i class="ion-location"></i></div>
				</div>
			</div>
			<div class="box-list-empresa">
				<div class="row">
					<div class="col list-empresa">
						<i class="ion-home"></i> Empresa
        				<p class="padding">Direccion direccion del establecimiento</p>
        			</div>
				</div>
				<div class="row">
					<div class="col col-90 list-empresa">
						<i class="ion-ios7-telephone"></i> Telefono 
        				<p class="padding">(0212) 392 98 52</p>
					</div>
  					<div class="col local"><i class="ion-location"></i></div>
				</div>
			</div>
			<div class="box-list-empresa">
				<div class="row">
					<div class="col list-empresa">
						<i class="ion-home"></i> Empresa
        				<p class="padding">Direccion direccion del establecimiento</p>
        			</div>
				</div>
				<div class="row">
					<div class="col col-90 list-empresa">
						<i class="ion-ios7-telephone"></i> Telefono 
        				<p class="padding">(0212) 392 98 52</p>
					</div>
  					<div class="col local"><i class="ion-location"></i></div>
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>