<ion-view view-title="Estado {{estado}}">
	<ion-content>
        <div class="list">
            <form>
                <label class="item item-radio" ng-repeat="estado in estados">  
                    <input ng-click="seleccionandoEstado()" type="radio"
                    ng-model="predeterminada.id"
                    ng-value="estado"              
                    name="id">
                    <div class="item-content">
                    {{estado.estado}}
                     </div>
                     <i class="radio-icon ion-checkmark"></i>
                </label>
            </form>	
        </div>
	</ion-content>
</ion-view>