<div class="modal" id="modal">
    <ion-header-bar class="bar bar-stable" on-drag="dragDown($event)" on-release="resetPosition($event)">
        <button class="button button-clear button-primary ion-close-round" ng-click="closeModal()"></button>
        <h1 class="title color-back">{{estado}}</h1>
        
    </ion-header-bar>
    <ion-content>
        <div class="list"> 
            <form>
                <label class="item item-radio" ng-repeat="estado in estados">  
                    <input ng-click="seleccionandoEstado()" type="radio"
                    ng-model="predeterminada.id"
                    ng-value="estado"              
                    name="id">
                    <div class="item-content">
                        {{estado.estado}}
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
            </form> 
        </div>
    </ion-content>
</div>