<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-custon">
      <ion-nav-back-button class="button-icon ion-ios7-arrow-back">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu>
    <ion-content>
        <div class="bar-side-menu">
            <img class="icon-side-menu" src="img/tulocalidad.png">
        </div>
        <ion-list>

        <a class="item item-icon-left" menu-close href="#/app/tulocalidad">
            <i class="icon ion-home icon-side-menu"></i>
            Inicio
        </a>

        <a class="item item-icon-left" menu-close href="#/app/acerca">
            <i class="icon ion-information-circled icon-side-menu"></i>
            Arceca de
        </a>

        <a class="item item-icon-left" menu-close href="tel:+584142667519">
            <i class="icon ion-ios7-telephone icon-side-menu"></i>
            Contáctanos
        </a>

        <div class="top-header">
        </div>
        <a class="item item-key-systems" href="#" browse-to="https://play.google.com/store/apps/details?id=com.ionicframework.keysystems549574">
            por
            <img class="icon-key-side-menu" src="img/keysystems-logo.png">
        </a>
        
        <div class="redes-sociales-icon">
            <div class="row">
                <div class="col">
                    <button type="" class="button button-clear button-redes" browse-to="https://facebook.com/KeySystems.ca"><i class="icon ion-social-facebook"></i></button>
                </div>
                <div class="col">
                    <button type="" class="button button-clear button-redes" browse-to="https://twitter.com/keysystemsca"><i class="icon ion-social-twitter"></i></button>
                </div>
                <div class="col">
                    <button type="" class="button button-clear button-redes" browse-to="https://www.youtube.com/user/KeySystemsCa"><i class="icon ion-social-youtube"></i></button>
                </div> 
                <div class="col">
                    <button type="" class="button button-clear button-redes" browse-to="https://instagram.com/keysystemsca/"><i class="icon ion-social-instagram"></i></button>
                </div>
            </div>               
        </div>

        <div class="item-fin">
        </div>
      </ion-list>
      <div class="footer-side-menu">
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
