<ion-view view-title="Directorio {{ estado }}">
    
    <ion-nav-buttons side="right">
        <div class="row button-tulocalidad">
            <div class="col button-tulocalidad">
                <a class="button button-icon button-clear ion-android-more-vertical" href="#/tab/configuracion">
                </a>
            </div>
        </div>  
    </ion-nav-buttons>
   
    <ion-content class="publicidad">
        
        <ion-refresher on-refresh="RecargarPublicidad()"></ion-refresher>

        <a class="col col-50 button-clear box-publicidad" href="#/tab/recomendados-detalle" ng-repeat="publicidad in publicidades" ng-click="id_empresa({{ publicidad.id_empresa }})">
            <div class="item item-image">
                <img ng-src="http://www.tulocalidad.com.ve{{ publicidad.url_imagen_publicidad }}">
            </div>
        </a>
    
	</ion-content>
</ion-view>     