<ion-view view-title="Directorio {{ estado }}">
    
    <ion-nav-buttons side="right">
        <div class="row button-tulocalidad">
            <div class="col button-tulocalidad button-tulocalidad-estados"><button class="button button-icon button-clear ion-location" ng-click="openModal()">
            </button></div>
            <div class="col button-tulocalidad"><a class="button button-icon button-clear ion-android-more-vertical" href="#/app/categoria">
            </a></div>
        </div>  
    </ion-nav-buttons>
   
    <ion-content>
        
        <div class="isotope-wrapper">
            
            <!--<form class="isotope-toolbar">
                <label><input type="radio" data-type="*" checked="" name="isotope-filter"> all</label>
                <label><input type="radio" data-type="people" name="isotope-filter"> people</label>
                <label><input type="radio" data-type="nature" name="isotope-filter"> nature</label>
                <label><input type="radio" data-type="animals" name="isotope-filter"> animals</label>
            </form>-->
            
            <div class="isotope-box">

                <div class="isotope-item" data-type="nature">
                    <img data-src="http://keysystems.com.ve/tulocalidad/publicidad/keysystems.jpg" class="lazyload" />
                </div>
                <div class="isotope-item" data-type="people">
                    <img data-src="http://lorempixel.com/400/240/people/2/" class="lazyload" />
                </div>

                <div class="isotope-item item-portrait" data-type="animals">
                    <img data-src="http://lorempixel.com/240/400/animals/9/" class="lazyload" />
                </div>

                <div class="isotope-item" data-type="people">
                    <img data-src="http://lorempixel.com/400/240/people/4/" class="lazyload" />
                </div>
                <div class="isotope-item item-portrait" data-type="people">
                    <img data-src="http://lorempixel.com/240/400/people/6/" class="lazyload" />
                </div>
                <div class="isotope-item" data-type="people">
                    <img data-src="http://lorempixel.com/400/240/people/5/" class="lazyload" />
                </div>
                <div class="isotope-item item-portrait" data-type="animals">
                    <img data-src="http://lorempixel.com/240/400/animals/1/" class="lazyload" />
                </div>
                <div class="isotope-item item-portrait" data-type="animals">
                    <img data-src="http://lorempixel.com/240/400/animals/2/" class="lazyload" />
                </div>
                <div class="isotope-item" data-type="people">
                    <img data-src="http://lorempixel.com/400/240/people/6/" class="lazyload" />
                </div>

                <div class="isotope-item" data-type="people">
                    <img data-src="http://lorempixel.com/400/240/people/8/" class="lazyload" />
                </div>
                <div class="isotope-item" data-type="people">
                    <img data-src="http://lorempixel.com/400/240/people/9/" class="lazyload" />
                </div>

                <div class="isotope-item item-portrait" data-type="people">
                    <img data-src="http://lorempixel.com/240/400/people/1/" class="lazyload" />
                </div>

                <div class="isotope-item item-portrait" data-type="people">
                    <img data-src="http://lorempixel.com/240/400/people/4/" class="lazyload" />
                </div>

                <div class="isotope-item item-portrait" data-type="animals">
                    <img data-src="http://lorempixel.com/240/400/animals/8/" class="lazyload" />
                </div>
                <div class="isotope-item item-portrait" data-type="people">
                    <img data-src="http://lorempixel.com/240/400/people/5/" class="lazyload" />
                </div>

                <div class="isotope-item" data-type="animals">
                    <img data-src="http://lorempixel.com/400/240/animals/1/" class="lazyload" />
                </div>
                <div class="isotope-item item-portrait" data-type="nature">
                    <img data-src="http://lorempixel.com/240/400/nature/9/" class="lazyload" />
                </div>

                <div class="isotope-item item-portrait" data-type="people">
                    <img data-src="http://lorempixel.com/240/400/people/8/" class="lazyload" />
                </div>
                <div class="isotope-item item-portrait" data-type="people">
                    <img data-src="http://lorempixel.com/240/400/people/9/" class="lazyload" />
                </div>

                <div class="isotope-item" data-type="nature">
                    <img data-src="http://lorempixel.com/400/240/nature/1/" class="lazyload" />
                </div>
                <div class="isotope-item" data-type="nature">
                    <img data-src="http://lorempixel.com/400/240/nature/2/" class="lazyload" />
                </div>
                <div class="isotope-item" data-type="nature">
                    <img data-src="http://lorempixel.com/400/240/nature/3/" class="lazyload" />
                </div>

                <div class="isotope-item" data-type="people">
                    <img data-src="http://lorempixel.com/400/240/people/3/" class="lazyload" />
                </div>
                <div class="isotope-item" data-type="animals">
                    <img data-src="http://lorempixel.com/400/240/animals/4/" class="lazyload" />
                </div>
                <div class="isotope-item item-portrait" data-type="animals">
                    <img data-src="http://lorempixel.com/240/400/animals/6/" class="lazyload" />
                </div>
                <div class="isotope-item item-portrait" data-type="people">
                    <img data-src="http://lorempixel.com/240/400/people/2/" class="lazyload" />
                </div>
                <div class="isotope-item item-portrait" data-type="people">
                    <img data-src="http://lorempixel.com/240/400/people/3/" class="lazyload" />
                </div>
                <div class="isotope-item" data-type="nature">
                    <img data-src="http://lorempixel.com/400/240/nature/4/" class="lazyload" />
                </div>

                <div class="isotope-item" data-type="nature">
                    <img data-src="http://lorempixel.com/400/240/nature/8/" class="lazyload" />
                </div>
                <div class="isotope-item" data-type="nature">
                    <img data-src="http://lorempixel.com/400/240/nature/9/" class="lazyload" />
                </div>

                <div class="isotope-item item-portrait" data-type="nature">
                    <img data-src="http://lorempixel.com/240/400/nature/1/" class="lazyload" />
                </div>
                <div class="isotope-item item-portrait" data-type="nature">
                    <img data-src="http://lorempixel.com/240/400/nature/2/" class="lazyload" />
                </div>
                <div class="isotope-item" data-type="nature">
                    <img data-src="http://lorempixel.com/400/240/nature/5/" class="lazyload" />
                </div>
                <div class="isotope-item" data-type="animals">
                    <img data-src="http://lorempixel.com/400/240/animals/2/" class="lazyload" />
                </div>
                <div class="isotope-item" data-type="nature">
                    <img data-src="http://lorempixel.com/400/240/nature/6/" class="lazyload" />
                </div>
                <div class="isotope-item item-portrait" data-type="nature">
                    <img data-src="http://lorempixel.com/240/400/nature/3/" class="lazyload" />
                </div>
                <div class="isotope-item item-portrait" data-type="nature">
                    <img data-src="http://lorempixel.com/240/400/nature/4/" class="lazyload" />
                </div>

                <div class="isotope-item item-portrait" data-type="nature">
                    <img data-src="http://lorempixel.com/240/400/nature/7/" class="lazyload" />
                </div>
                <div class="isotope-item" data-type="animals">
                    <img data-src="http://lorempixel.com/400/240/animals/5/" class="lazyload" />
                </div>
                <div class="isotope-item" data-type="people">
                    <img data-src="http://lorempixel.com/400/240/people/1/" class="lazyload" />
                </div>

                <div class="isotope-item" data-type="animals">
                    <img data-src="http://lorempixel.com/400/240/animals/3/" class="lazyload" />
                </div>

                <div class="isotope-item" data-type="animals">
                    <img data-src="http://lorempixel.com/400/240/animals/6/" class="lazyload" />
                </div>
                <div class="isotope-item" data-type="animals">
                    <img data-src="http://lorempixel.com/400/240/animals/7/" class="lazyload" />
                </div>

                <div class="isotope-item item-portrait" data-type="nature">
                    <img data-src="http://lorempixel.com/240/400/nature/8/" class="lazyload" />
                </div>
                <div class="isotope-item" data-type="animals">
                    <img data-src="http://lorempixel.com/400/240/animals/8/" class="lazyload" />
                </div>
                <div class="isotope-item" data-type="animals">
                    <img data-src="http://lorempixel.com/400/240/animals/9/" class="lazyload" />
                </div>
                <div class="isotope-item item-portrait" data-type="nature">
                    <img data-src="http://lorempixel.com/240/400/nature/6/" class="lazyload" />
                </div>

                <div class="isotope-item item-portrait" data-type="animals">
                    <img data-src="http://lorempixel.com/240/400/animals/3/" class="lazyload" />
                </div>
                <div class="isotope-item item-portrait" data-type="animals">
                    <img data-src="http://lorempixel.com/240/400/animals/4/" class="lazyload" />
                </div>
                <div class="isotope-item item-portrait" data-type="nature">
                    <img data-src="http://lorempixel.com/240/400/nature/5/" class="lazyload" />
                </div>
                <div class="isotope-item item-portrait" data-type="people">
                    <img data-src="http://lorempixel.com/240/400/people/7/" class="lazyload" />
                </div>
                <div class="isotope-item item-portrait" data-type="animals">
                    <img data-src="http://lorempixel.com/240/400/animals/5/" class="lazyload" />
                </div>
                <div class="isotope-item item-portrait" data-type="animals">
                    <img data-src="http://lorempixel.com/240/400/animals/7/" class="lazyload" />
                </div>
                <div class="isotope-item" data-type="people">
                    <img data-src="http://lorempixel.com/400/240/people/7/" class="lazyload" />
                </div>
            </div>
        </div>
	</ion-content>
</ion-view>