<ion-view view-title="Directorio {{ estado }}">
    
    <ion-nav-buttons side="right">
        <div class="row button-tulocalidad">
            <div class="col button-tulocalidad button-tulocalidad-estados"><button class="button button-icon button-clear ion-location" ng-click="openModal()">
            </button></div>
            <div class="col button-tulocalidad"><a class="button button-icon button-clear ion-android-more-vertical" href="#/app/categoria">
            </a></div>
        </div>  
    </ion-nav-buttons>
   
    <ion-content class="publicidad">
        
        <div class="isotope-wrapper" >
            
            <!--<form class="isotope-toolbar">
                <label><input type="radio" data-type="*" checked="" name="isotope-filter"> all</label>
                <label><input type="radio" data-type="people" name="isotope-filter"> people</label>
                <label><input type="radio" data-type="nature" name="isotope-filter"> nature</label>
                <label><input type="radio" data-type="animals" name="isotope-filter"> animals</label>
            </form>-->
            
            <!--<div class="isotope-box">

                <div class="isotope-item" data-type="">
                    <img src="img/publicidad/m-4.jpg" class="lazyload" />
                </div>
                <div class="isotope-item" data-type="">
                    <img data-src="http://lorempixel.com/400/240/people/2/" class="lazyload" />
                </div>

                <div class="isotope-item mediana" data-type="">
                    <img data-src="http://lorempixel.com/240/400/animals/9/" class="lazyload" />
                </div>

            </div>-->

            <div class="isotope-box" >
               
                <div class="isotope-item {{ publicidad.tamano_imagen }}" ng-repeat="publicidad in publicidades" data-type="">
                    <a href="#/app/empresas-detalle/{{empresa.id_empresa}}" ng-click="id_empresa({{ publicidad.id_empresa }})">
                        <img ng-src="{{ publicidad.url_imagen_publicidad }}" class="lazyload" />
                    </a>
                </div>

            </div>
        
        </div>
	</ion-content>
</ion-view>