<ion-view view-title="Acerca">
	
    <ion-nav-buttons>
        <div class="row button-tulocalidad">
            <div class="col button-tulocalidad">
                <a class="button button-icon button-clear button-conf" ng-click="myGoBack()">
                    <i class="ion-arrow-left-c"></i>
                </a>
            </div>
        </div>  
    </ion-nav-buttons>

    <ion-content scroll="false" class="acerca">
        
            <div class="box-acerca">
                <div class="box-acerca-img">    
                    <img class="acerca-img" src="img/conf.png">
                </div>
                <diV class="box-acerca-text">
                    <p>Versión {{VERSION}}</p>
                    <p>©2015 Key Systems</p>
                </diV>
            </div>
        
    </ion-content>
</ion-view>