<ion-view view-title="{{publicidad_detalle[0].titulo_publicidad}}">
    
    <ion-nav-buttons>
        <div class="row button-tulocalidad">
            <div class="col button-tulocalidad">
                <a class="button button-icon button-clear button-conf" ng-click="myGoBack()">
                    <i class="ion-arrow-left-c"></i>
                </a>
            </div>
        </div>  
    </ion-nav-buttons>

    <ion-content>

        <ion-refresher on-refresh="RecargarPublicidad()"></ion-refresher>

        <div class="list card">

            <div class="item item-image-publicidad">
                <img width="200" height="200" ng-src="{{HOST_NAME}}uploads/publicidades_low/{{publicidad_detalle[0].url_imagen_publicidad}}">
            </div>

            <div class="item item-body">
                <p>
                  {{publicidad_detalle[0].descripcion_publicidad}}
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left tabs-custon-detalle-publcidad">
                <button class="button button-clear" ng-click="compartir(publicidad_detalle[0].titulo_publicidad, publicidad_detalle[0].url_imagen_publicidad)">
                    <a class="tab-item tab-icon-recomendado" href="#">
                        <i class="icon ion-android-share-alt"></i>
                            Compartir
                    </a>
                </button>
            </div>

        </div>
	</ion-content>
</ion-view>