<ion-view view-title="Directorio {{ estado }}">
    
    <ion-nav-buttons side="right">
        <div class="row button-tulocalidad">
            <div class="col button-tulocalidad">
                <a class="button button-icon button-clear button-conf" href="#/tab/configuracion">
                    <i class="fa fa-ellipsis-v"></i>
                </a>
            </div>
        </div>  
    </ion-nav-buttons>
   
    <ion-content class="publicidad">
        <ion-refresher refreshing-icon="dots" on-refresh="RecargarPublicidad()"></ion-refresher>

        <ion-list ng-repeat="publicidad in publicidades">
            <a ng-href="#/tab/recomendados-empresas-detalle/{{publicidad.id_empresa}}" ng-click="id_empresa(publicidad.id_empresa)" >
                <div class="item item-avatar publicidad-nombre-empresa">
                    <img class="publicidad-img-empresa" src="img/empresa-detalle.png">
                    <h6>Nombre de la Empresa</h6>
                </div>
            </a>
            <div class="item item-body" style="padding: 0px;">
                <img class="full-image" ng-src="{{HOST_NAME}}uploads/publicidades_high/{{ publicidad.url_imagen_publicidad }}">
            </div>

            <div class="tab-recomendados">
                <h6 style="font-weight: bold;">{{publicidad.titulo_publicidad}}</h6>
                <br>
                <h6>{{publicidad.descripcion_publicidad}}</h6>
            </div>

        </ion-list>
    
	</ion-content>
</ion-view>     