<ion-view view-title="Categoria {{ estado }}">
	<ion-nav-buttons side="right">
        <div class="row button-empresa">
            <button class="button button-icon button-clear ion-android-search placeholder-icon" ng-click="searchempresa()">
            </button>
        </div>
    </ion-nav-buttons>

    <ion-nav-buttons>
        <div class="row button-tulocalidad">
            <div class="col button-tulocalidad">
                <a class="button button-icon button-clear button-conf" ng-click="myGoBack()">
                    <i class="ion-arrow-left-c"></i>
                </a>
            </div>
        </div>  
    </ion-nav-buttons>
    
    <ion-content>

        <ion-refresher refreshing-icon="dots" on-refresh="RecargarEmpresas()"></ion-refresher>

        <label class="item item-input" ng-show="isVisible">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" ng-model="query.search" placeholder="Buscar">
        </label>
		<ion-list>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="empresa in empresas | filter:query.search" type="item-text-wrap" href="#/tab/empresas-detalle/{{empresa.id_empresa}}" ng-click="id_empresa( empresa.id_empresa )">
                <h2 style="text-transform: capitalize;">{{ empresa.nombre_empresa }}</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
	</ion-content>
</ion-view>