/* Empty. Add your own CSS if you like */
.box-content{
	text-align: center;
}
.list-empresa{
	list-style:none;
	font-size: 20px;
	padding: 0px;
}
.list-empresa p{
	font-size: 12px;
	margin-right: 50px;
}
.list-empresa i{
	font-size: 40px;
}
.tamano{
	width: 100%;
}
.right{
	text-align: right;
}
.local{
	font-size: 45px;
	/*border: 1px solid #ddd;*/
	width: 32px;
	height: 60px;
	text-align: center;
}
.box-list-empresa{
	border: 1px solid #ddd;
}
.angular-google-map {
			display: block;
}
.padding-0{
	padding: 0px 0px 0px 0px;
	line-height: 0px;
}
.card-custom{
	margin: 0px 0px;
}
.icon-custom{
	font-size: 25px;
	position: relative;
	padding-right: 10px;
	top: 4px;
}
.bar.bar-vinotinto {
    border-color: #721520;
    background-color: #721520;
    background-image: linear-gradient(0deg, #e6b400, #e6b400 50%, transparent 50%);
    color: #fff; }
.bar.bar-vinotinto .title {
	color: #fff; }
.bar.bar-vinotinto.bar-footer {
	background-image: linear-gradient(180deg, #e6b400, #e6b400 50%, transparent 50%); }
.bar-vinotinto .button {
  	border-color: #e6b400;
  	background-color: #ffc900;
  	color: #fff; }
.bar-vinotinto .button:hover {
    color: #fff;
    text-decoration: none; }
.bar-vinotinto .button.active, .bar-vinotinto .button.activated {
    border-color: #e6b400;
    background-color: #e6b400;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
.bar-vinotinto .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #fff;
    font-size: 17px; }
.bar-vinotinto .button.button-icon {
    border-color: transparent;
    background: none; }

.button-estados{
	margin-right: 20px;
}
.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
	border-radius: 0;
}
.button-tulocalidad{
	padding: 0px;
	margin-right: 2px;
}
.disable-user-behavior{
	background-color: #721520;
}
.title{
	color: #fff;
}
.icon-aplicacion{
	width: 32px;
	height: 32px;
}
.text-none{
	text-decoration:none;
}
.button-search-custon{
	margin-right: 5px;
	padding: 0px 0 0px 16px;
	color: #fff;
	border-radius: 4px;
}
.button-categorias{
	padding: 0px;
	bottom: 0px;
	position: relative;
	top: -1.99px;
}
.button-empresa{
	padding: 0px;
	bottom: 0px;
	position: relative;
	top: -1.99px;
}