/* Empty. Add your own CSS if you like */
.box-content{
	text-align: center;
}
.list-empresa{
	list-style:none;
	font-size: 20px;
	padding: 0px;
}
.list-empresa p{
	font-size: 12px;
	margin-right: 50px;
}
.list-empresa i{
	font-size: 40px;
}
.tamano{
	width: 100%;
}
.right{
	text-align: right;
}
.local{
	font-size: 45px;
	/*border: 1px solid #ddd;*/
	width: 32px;
	height: 60px;
	text-align: center;
}
.box-list-empresa{
	border: 1px solid #ddd;
}
.angular-google-map {
			display: block;
}
.padding-0{
	padding: 0px;
}
.padding-5{
	padding: 5px;
}
.margin-0{
	margin: 0px 0px;
}